<!-- 202132118_박혜정 -->

<div class="container">	
	
    <% if(cu==='C'){ %>
    <h2>게시판 생성</h2>
	<form action="/board/type/create_process" method="post" >
		<div class="mb-3">
			<label class="form-label" for="id">제목</label> 
			<input class="form-control" type="text" name="title" style = "width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">설명</label> 
			<input class="form-control" type="text" name="description" style = "width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">페이지당 보여지는 글 수 </label> 
			<input class="form-control" type="text" name="numPerPage" style = "width:300px;" />
		</div>
        
        <label class="form-label" >일반 사용자 쓰기 가능 여부 </label>
        <div class="mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="write_YN" id="write_YN1" value="Y">
                <label class="form-check-label" for="write_YN1"> Yes </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="write_YN" id="write_YN2" value="N" checked>
                <label class="form-check-label" for="write_YN2"> No </label>
            </div>
        </div>

        <label class="form-label" for="id">댓글 가능 여부</label> 
        <div class="mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="re_YN" id="re_YN1" value="Y">
                <label class="form-check-label" for="re_YN1"> Yes </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="re_YN" id="re_YN2" value="N" checked>
                <label class="form-check-label" for="re_YN2"> No </label>
            </div>
        </div>
        <button class="btn btn-outline-primary btn-sm" type="submit">생성</button>
    <% } else { %>
    <h2>게시판 수정</h2>
    <form action="/board/type/update_process" method="post" >
        <input type="hidden"  name="type_id" value = "<%=boardtype[0].type_id%>" />
		<div class="mb-3">
			<label class="form-label" for="id">제목</label> 
			<input class="form-control" type="text" name="title" value = "<%=boardtype[0].title%>" style = "width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">설명</label> 
			<input class="form-control" type="text" name="description" value = "<%=boardtype[0].description%>" style = "width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">페이지당 보여지는 글 수 </label> 
			<input class="form-control" type="text" name="numPerPage" value = "<%=boardtype[0].numPerPage%>" style = "width:300px;" />
		</div>
        <%  var checkedY = '';
            var checkedN = '';
            if(boardtype[0].write_YN === 'Y') {checkedY = 'checked'}
            else {checkedN = 'checked'} %>
         
        <label class="form-label" >일반 사용자 쓰기 가능 여부 </label>
        <div class="mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="write_YN" id="write_YN1" value="Y" <%=checkedY%>>
                <label class="form-check-label" for="write_YN1"> Yes </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="write_YN" id="write_YN2" value="N" <%=checkedN%>>
                <label class="form-check-label" for="write_YN2"> No </label>
            </div>
        </div>

        <%  var checkedY = '';
        var checkedN = '';
        if(boardtype[0].re_YN === 'Y') {checkedY = 'checked'}
        else {checkedN = 'checked'} %>

        <label class="form-label" for="id">댓글 가능 여부</label> 
        <div class="mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="re_YN" id="re_YN1" value="Y" <%=checkedY%>>
                <label class="form-check-label" for="re_YN1"> Yes </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="re_YN" id="re_YN2" value="N" <%=checkedN%>>
                <label class="form-check-label" for="re_YN2"> No </label>
            </div>
        </div>
        <button class="btn btn-outline-primary btn-sm" type="submit">수정</button>
        <% } %>
  </form>
</div>
