<!-- 202132118_박혜정 -->

<h1>
    <%=title%>
</h1>

<table class="table table-bordered ">
    <thead>
        <td>작성자</td>
        <td>제목</td>
        <td>날짜</td>
    </thead>

    <% if (boards.length > 0) { %>
        <% boards.forEach(board => { %>
                <tr>
                    <td><%= board.name %></td>
                    <td><a href="/board/detail/<%= board.board_id %>/<%= pNum %>"><%= board.title %></a></td>
                    <td><%= board.date %></td>
                </tr>
          <% }); %>
    <% } %>
</table>


<% var j=1; 
    while(j <=totalPages) { 
        if(j==pNum) { %>
            <span style="font-weight: bold;"><%= j %></span> &nbsp;&nbsp;
    <% } else { %>
        <span><a href="/board/view/<%= bts %>/<%= j %>"><%= j %></a></span> &nbsp;&nbsp;
    <% } j++ } %>

<% if(edit){%>
    <button type="button" class="btn btn-info me-md2" onclick="location.href='/board/create/<%= bts %>'">글쓰기</button>
<%}%>