<!-- 202132118_박혜정 -->

<table class="table table-bordered border-primary">
    <thead><td>대분류</td><td>대분류명</td><td>소분류</td><td>소분류명</td><td>시작일</td><td>종료일</td></thead> 
   
    <% if (codes.length > 0) { %>
        <% codes.forEach(code => { %>
            <% if(insert) { %>
                <tr>
                    <td><%= code.main_id %></td>
                    <td><%= code.main_name %></td>
                    <td><%= code.sub_id %></td>
                    <td><%= code.sub_name %></td>
                    <td><%= code.start %></td>
                    <td><%= code.end %></td>
                </tr>
            <% } %>
          <% }); %>
          <%- edit %>
    <% } %>

</table>