<!-- 202132118_박혜정 -->

<div class="container">	
	<% if(insert) { %>
    <script>

        function displayFileName(){
            var fileName = $("#file").val();
            $(".upload-name").val(fileName);
        }
    </script>
    <h2>상품 입력</h2>
	<form action="/merchandise/create_process" method="post" enctype="multipart/form-data">
		<div class="mb-3">
			<label class="form-label" for="id">카테고리</label> 
            <select name = "category" id = "id">
                <option value="1">의류</option>
				<option value="2">식품</option>
				<option value="3">가전</option>
				<option value="4">도서</option>
				<option value="5">스포츠</option>
				<option value="6">자동차</option>
				<option value="7">생활용품</option>
				<option value="8">완구</option>
            </select>
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">제품명</label> 
			<input class="form-control" type="text" name="name" style = "width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">가격</label> 
			<input class="form-control" type="text" name="price" style="width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">재고</label> 
			<input class="form-control" type="text" name="stock" style="width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">브랜드</label> 
			<input class="form-control" type="text" name="brand" style="width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">공급자</label> 
			<input class="form-control" type="text" name="supplier" style="width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">할인여부</label> 
			<input class="form-control" type="text" name="sale_yn" style="width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">할인가격</label> 
			<input class="form-control" type="text" name="sale_price" style="width:300px;" />
		</div>

        <div class="mb-3">
            <input class="upload-name" value="" name = "image" placeholder="이미지파일">
            <input type="file" id="file" name="uploadFile" onchange="displayFileName()">
        </div>
        <button class="btn btn-outline-primary btn-sm" type="submit">입력</button>
  </form>
  <% } else { %>
	<h2>상품 수정</h2>
	<form action="/merchandise/update_process" method="post" enctype="multipart/form-data">
		<div class="mb-3">
			<label class="form-label" for="id">카테고리</label> 
            <select name = "category" id = "id">
                <option value="1">의류</option>
				<option value="2">식품</option>
				<option value="3">가전</option>
				<option value="4">도서</option>
				<option value="5">스포츠</option>
				<option value="6">자동차</option>
				<option value="7">생활용품</option>
				<option value="8">완구</option>
            </select>
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">제품명</label> 
			<input class="form-control" type="text" name="name" value="<%= product[0].name %>" style = "width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">가격</label> 
			<input class="form-control" type="text" name="price" value="<%= product[0].price %>" style="width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">재고</label> 
			<input class="form-control" type="text" name="stock" value="<%= product[0].stock %>" style="width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">브랜드</label> 
			<input class="form-control" type="text" name="brand" value="<%= product[0].brand %>" style="width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">공급자</label> 
			<input class="form-control" type="text" name="supplier" value="<%= product[0].supplier %>" style="width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">할인여부</label> 
			<input class="form-control" type="text" name="sale_yn" value="<%= product[0].sale_yn %>" style="width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">할인가격</label> 
			<input class="form-control" type="text" name="sale_price" value="<%= product[0].sale_price %>" style="width:300px;" />
		</div>

        <div class="mb-3">
            <input class="upload-name" value="" name = "image" placeholder="이미지파일">
            <input type="file" id="file" name="uploadFile" value="<%= product[0].image %>" onchange="displayFileName()">
        </div>
        <button class="btn btn-outline-primary btn-sm" type="submit">수정</button>
  </form>
  <% } %>
</div>
