<!-- 202132118_박혜정 -->

<div class="container">
	<% if(insert) { %>
		<h2>사용자 입력 (회원가입)</h2>
		<form action="/person/create_process" method="post">
			<div class="mb-3">
				<label class="form-label" for="id">아이디</label>
				<input class="form-control" type="text" name="loginid" placeholder="id 입력" style="width:300px;" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="id">비밀번호</label>
				<input class="form-control" type="text" name="password" style="width:300px;" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="id">이름</label>
				<input class="form-control" type="text" name="name" style="width:300px;" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="id">주소</label>
				<input class="form-control" type="text" name="address" placeholder="서울" style="width:300px;" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="id">전화번호</label>
				<input class="form-control" type="text" name="tel" placeholder="010-1234-5678" style="width:300px;" />
			</div>
            <div class="mb-3">
				<label class="form-label" for="id">생년월일</label>
				<input class="form-control" type="text" name="birth" placeholder="20000423" style="width:300px;" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="id"></label>
				<input class="form-control" type="text" name="class" placeholder="00 : CEO, 01 : 관리자, 02 : 일반고객" style="width:300px;" />
			</div>
            <div class="mb-3">
				<label class="form-label" for="id"></label>
				<input class="form-control" type="text" name="point" placeholder="0" style="width:300px;" />
			</div>
			<button class="btn btn-outline-primary btn-sm" type="submit">입력</button>

		</form>
	<% } else { %>
		<h2>사용자 수정</h2>
		<form action="/person/update_process" method="post">
			<div class="mb-3">
				<label class="form-label" for="id">아이디</label>
				<input class="form-control" type="text" name="loginid" value="<%= person[0].loginid %>" style="width:300px;" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="id">비밀번호</label>
				<input class="form-control" type="text" name="password" value="<%= person[0].password %>" style="width:300px;" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="id">이름</label>
				<input class="form-control" type="text" name="name" value="<%= person[0].name %>" style="width:300px;" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="id">주소</label>
				<input class="form-control" type="text" name="address" value="<%= person[0].address %>" style="width:300px;" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="id">전화번호</label>
				<input class="form-control" type="text" name="tel" value="<%= person[0].tel %>" style="width:300px;" />
			</div>
            <div class="mb-3">
				<label class="form-label" for="id">생년월일</label>
				<input class="form-control" type="text" name="birth" value="<%= person[0].birth %>" style="width:300px;" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="id"></label>
				<input class="form-control" type="text" name="class" value="<%= person[0].class %>" style="width:300px;" />
			</div>
            <div class="mb-3">
				<label class="form-label" for="id"></label>
				<input class="form-control" type="text" name="point" value="<%= person[0].point %>" style="width:300px;" />
			</div>
			<button class="btn btn-outline-primary btn-sm" type="submit">수정</button>

		</form>
	<% } %>
</div>